@model BangazonScrumptiousJellyfish.Models.Employee

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Employee</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FullName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FullName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Department.DepartmentName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Department.DepartmentName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Computer.ModelName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Computer.ModelName)
        </dd>
        @foreach (var item in Model.TrainingPrograms)
        {

            <dt>
                @Html.DisplayNameFor(modelItem => item.ProgramName)
            </dt>
            <dd>
                @Html.DisplayFor(modelItem => item.ProgramName)
            </dd>
        }
    </dl>


</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
