@model BangazonScrumptiousJellyfish.Models.Employee

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Employee</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FullName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FullName)
        </dd>
        <dt>
            Department Name
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Department.DepartmentName)
        </dd>
        <dt>
            Current Computer
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Computer.ModelName)
        </dd>
        <dt>
            Program Names
        </dt>
        @foreach (var item in Model.TrainingPrograms)
        {

            <dd>
                @Html.DisplayFor(modelItem => item.ProgramName)
            </dd>
        }
    </dl>


</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.EmployeeId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
