@model BangazonScrumptiousJellyfish.Models.TrainingProgram

@{
    ViewData["Title"] = "Delete Training Program Confirmation";
}

<h2>@ViewData["Title"]</h2>

<h3>Are you sure you want to delete <u>@Html.DisplayFor(model => model.ProgramName)</u>?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Descrip)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Descrip)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MaximumAttendees)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MaximumAttendees)
        </dd>
        <dt>
                @Html.DisplayNameFor(model => model.Employees)
            </dt>
            @foreach (var item in Model.Employees)
            {
                <dd>
                    @Html.DisplayFor(modelItem => item.FullName)
                    @Html.DisplayFor(modelItem => item.Email)
                </dd>
            }
    </dl>

    <form asp-action="DeleteConfirmed">
        <input type="hidden" asp-for="TrainingProgramId" />

        @if (Model.StartDate.Date <= DateTime.Today)
        {
        <div>
            <input disabled type="submit" value="Delete" class="btn btn-default" />
            <p><b>Uh oh! Since <u>@Html.DisplayFor(model => model.ProgramName)</u> is currently in progress or is already complete, you are not able to delete this program.</b></p>
            <a asp-action="Index">Back to List</a>
        </div>
        }
        else
        {
            <div>
                <input type="submit" value="Delete" class="btn btn-default" />
                <br />
                <a asp-action="Index">Back to List</a>
            </div>
        }

    </form>
</div>
