@model BangazonScrumptiousJellyfish.Models.TrainingProgram

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>TrainingProgram</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProgramName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProgramName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Descrip)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Descrip)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MaximumAttendees)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MaximumAttendees)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Employees)
        </dt>
        @foreach (var item in Model.Employees)
        {
            <dd>
                @Html.DisplayFor(modelItem => item.FullName)
                @Html.DisplayFor(modelItem => item.Email)
            </dd>
        }
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new {  id = Model.TrainingProgramId  }) |
    <a asp-action="Index">Back to List</a>
</div>
