@model IEnumerable<BangazonScrumptiousJellyfish.Models.Computer>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ComputerId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DatePurchased)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateDecommissioned)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Working)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModelName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Manufacturer)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var computer in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => computer.ComputerId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => computer.DatePurchased)
            </td>
            <td>
                @Html.DisplayFor(modelItem => computer.DateDecommissioned)
            </td>
            <td>
                @Html.DisplayFor(modelItem => computer.Working)
            </td>
            <td>
                @Html.DisplayFor(modelItem => computer.ModelName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => computer.Manufacturer)
            </td>
            <td>
                <a asp-action="Create" asp-route-id="@computer.ComputerId">Create</a> |

                <a asp-action="DeleteConfirm" asp-route-id="@computer.ComputerId">Delete</a>
</tr>
}
    </tbody>
</table>
